body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #000;
}

form {
    max-width: 600px;
    margin: 0;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Alinea el contenido a la izquierda */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #fff;
    color: #000;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333;
}

#mensaje {
    margin-top: 20px;
    text-align: center;
    color: #000;
}

/* Mantén el estilo de la tabla como estaba */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
    align-content: center;
}

th, td {
    padding: 10px;
    text-align: center; /* Center horizontally */
    vertical-align: middle;    
}

th {
    background-color: black;
    color: white;
}

button {
    display: flex;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    margin: 0 auto;
}

button:hover {
    background-color: #d32f2f;
}