body {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Textos en blanco */
    font-family: Arial, sans-serif;
}

h1 {
    text-align: left; /* Alinear a la izquierda */
    color: #ff6600; /* Naranja */
}

.eventos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.evento-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #ff6600; /* Borde naranja */
    border-radius: 5px;
    background-color: #333; /* Fondo oscuro */
}

.evento-img {
    max-width: 25%; /* Revertir a max-width */
    height: auto;
    margin-right: 20px; /* Revertir a margin-right */
    border-radius: 5px;
}

.evento-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.evento-info h2 {
    margin: 0;
    color: #ff6600; /* Naranja */
}

.evento-info p {
    margin: 5px 0;
    font-weight: bold; /* Textos en negritas */
}

.evento-button {
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    align-items: center;
    margin-top: 10px;
}

.evento-button button {
    background-color: #808080; /* Fondo gris */
    color: white; /* Letras blancas */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.evento-button button a {
    color: white;
    text-decoration: none;
}

.evento-button button:hover {
    background-color: #696969; /* Gris más oscuro en hover */
}

.btn-agregar-evento {
    background-color: #ff6600; /* Naranja */
    color: white; /* Letras blancas */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.btn-agregar-evento:hover {
    background-color: #e65c00; /* Naranja más oscuro en hover */
}