{% extends 'base/base.html' %}


{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}


{% block content %}
<h1>Users</h1>
<br>
<div class="container-button">
    <div class="">
        <a href="{% url 'createUserView' %}">
            <button class="button">Create User</button>
        </a>
    </div>
</div>
<br>

<div class="container">
    {% for item in users %}
    {% include 'components/UserCard.html' with name=item.name email=item.email id=item.id %}

    {% endfor %}

</div>
{% endblock %}




