<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
</head>
<body>
    <h1>Lista de clientes</h1>
    <div class="container">
        {% for _ in "123" %}  <!-- Se repite 3 veces -->
            {% for user in users %}
                <div class="card">
                    <img src="{{ user.photo }}" alt="Foto de {{ user.name }}">
                    <div class="card-content">
                        <p><strong>{{ user.name }}</strong></p>
                        <p><strong>ID:</strong> {{ user.id }}</p>
                        <p><strong>Age:</strong> {{ user.age }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>
